body { font-family: "Bitstream Vera", "Vera", "Trebuchet MS", Trebuchet, Tahoma, sans-serif; color: #ffffff; text-shadow: 0px 1px rgba(0,0,0,0.5); }

pre, div.fragment, div.code { font-family: "Bitstream Vera Mono", "Vera Mono", "Trebuchet MS Mono", "Trebuchet Mono", "Tahoma Mono", mono; white-space: pre-wrap; color: #ffffff; }

blockquote { color: #cccccc; }

body { font-size: 12px; }

pre, div.fragment, div.code { font-size: 9px; color: #3399ff; }

p.tiny { color: #aaaaaa; font-size: 10px; }

h1, h2, h3, h4, h5, h6 { color: #3399ff; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0); }

h1 { font-size: 21px; }

h2 { font-size: 18px; }

h3 { font-size: 16px; }

h4 { font-size: 14px; }

h5 { font-size: 12px; }

h6 { font-size: 11px; }

ul, ol { font-size: 11px; text-align: left; }

#header { /*  CSS Reset */ /*  http://meyerweb.com/eric/tools/css/reset/ */ /*  v1.0 | 20080212 */ /* remember to define focus styles! */ /* remember to highlight inserts somehow! */ /* tables still need 'cellspacing="0"' in the markup */ }
#header html, #header body, #header div, #header span, #header applet, #header object, #header iframe, #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header blockquote, #header pre, #header a, #header abbr, #header acronym, #header address, #header big, #header cite, #header code, #header del, #header dfn, #header em, #header font, #header img, #header ins, #header kbd, #header q, #header s, #header samp, #header small, #header strike, #header strong, #header sub, #header sup, #header tt, #header var, #header b, #header u, #header i, #header center, #header dl, #header dt, #header dd, #header ol, #header ul, #header li, #header fieldset, #header form, #header label, #header legend, #header table, #header caption, #header tbody, #header tfoot, #header thead, #header tr, #header th, #header td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
#header body { line-height: 1; }
#header ol, #header ul { list-style: none; }
#header blockquote, #header q { quotes: none; }
#header blockquote:before, #header blockquote:after, #header q:before, #header q:after { content: ''; content: none; }
#header :focus { outline: 0; }
#header ins { text-decoration: none; }
#header del { text-decoration: line-through; }
#header table { border-collapse: collapse; border-spacing: 0; }
#header .layout { margin: 0 auto; }
#header ul.menu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; background: url("/ti/header_menu_background_last.png") no-repeat right; padding-right: 17px; }
#header ul.menu li { display: inline-block; letter-spacing: normal; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li a { display: inline-block; vertical-align: top; text-align: center;  padding-left: 10px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li a { background: url("/ti/header_menu_unselected_background.png") no-repeat; text-decoration: none; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li a span { display: inline-block; height: 63px; line-height: 63px; text-transform: capitalize; color: #ffffff; font-size: 10px; padding: 0 14px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li.current a { background: url("/ti/header_menu_current_background.png") no-repeat; }
#header ul.menu li.current a span { color: #3399ff;  text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
#header ul.menu li.current2 a { background: url("/ti/header_menu_unselected_next_background.png") no-repeat; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li.current2 a span { color: #ffffff; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.menu li.index { float: left; height: 63px; margin: 0; }
#header ul.menu li.index a { height: 63px; line-height: 63px; width: 63px; background: url("/ti/logo.png") no-repeat; }
#header ul.menu li.index a span { overflow: hidden; /* Replace text with image */ text-indent: -999px; }
#header ul.menu li.index a:hover { background: url("/ti/logo.png") no-repeat; }
#header ul.menu li.index a:hover span { background: none; }
#header ul.submenu { text-align: right; list-style: none inside none; white-space: nowrap; letter-spacing: -5px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li { display: inline-block; letter-spacing: normal; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a { display: inline-block; vertical-align: top; text-align: center; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li { margin-right: 17px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a { text-decoration: none; color: #aaaaaa; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a span { color: #aaaaaa; line-height: 36px; font-weight: bold; text-transform: capitalize; font-size: 10px; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li a:hover span { color: #ffffff; text-shadow: 0px 1px rgba(0,0,0,0.5); }
#header ul.submenu li.selected a span { color: #3399ff; line-height: 36px; font-weight: bold; text-transform: capitalize; font-size: 10px; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
#header ul.submenu li.selected a:hover span { color: #3399ff; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0); }
#header ul.submenu li.selected a { color: #3399ff; text-decoration: underline; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
#header div.menu { height: 63px; }
#header div.menu .layout { background: url("/ti/header_menu_background.png"); }
#header div.submenu { height: 36px; margin-bottom: 36px; }

/* ******************* Changes to the Original Stylesheet ****************** */
table.data { width: 90%; padding: 0px; margin: 5px; border: 1px solid #303030; border-collapse: collapse; }
table.data thead th { color: #3399ff; background-color: #282828; padding: 3px; text-align: left; text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);  }
table.data tbody tr td { color: #ffffff; background-color: #383838; padding: 3px; text-align: left; font-size: 11px; }
table.data tbody tr.odd td { color: #ffffff; background-color: #3b3b3b; }

table.developers td.name { width: 12em; }
table.developers td.photo { text-align: center }
table.developers td.location { width: 14em; }
table.developers.active caption { display: none; }
table.developers td { padding-right: 1ex; }
table.developers.inactive caption { font-weight: bold; margin-bottom: 2px; color: #000000; }

table.mailing td.archive { white-space: nowrap; }

#middle { margin-top: -18px; }

#content { margin: 0 -8px; }

.layout { margin: 0 auto; min-width: 750px; width: 90%; }

table.main h1, td.main { margin-top: 0; padding-top: 0; }

table.b { line-height: 1; }

#sitefooter p { text-align: center; padding-top: 9px; font-size: 10px; color: #ffffff; white-space: nowrap; }

hr { width: 200px; height: 1px; background-color: #303030; border: 0px; }

div.main p { text-align: justify; }

div.main .section-plug p { margin: 1em 0px; padding: 0px; text-align: left; }

div.news-latest-date { margin-bottom: 15px; }
