[Desktop Entry]
Type=Application
Name=Equate
GenericName=Calculator
GenericName[es]=Calculadora
GenericName[fr]=Calculatrice
GenericName[gl]=Calculadora
GenericName[it]=Calcolatrice
GenericName[pt]=Calculadora
GenericName[ru]=Калькулятор
Comment=EFL Calculator
Comment[es]=Calculadora basada en las EFL.
Comment[fr]=Calculatrice utilisant les EFL.
Comment[gl]=Calculadora baseada nas EFL.
Comment[it]=Calcolatrice basata sulle EFL.
Comment[pt]=Uma calculadora para o EFL
Comment[ru]=Калькулятор
Icon=equate
TryExec=equate
Exec=equate
Terminal=false
Categories=X-ENLIGHTENMENT;Utility;
StartupWMClass=equate
