[Desktop Entry]
Type=Application
Icon=econnman
Name=EConnMan with Agent
Name[es]=EConnMan con agente
Name[gl]=EConnMan con axente
Name[it]=EconnMan con agente
Name[pt]=EconnMan com agente
GenericName=Connection Manager
GenericName[es]=Administrador de conexiones
GenericName[gl]=Xestor de conexións
GenericName[pt]=Gestor de ligações
Comment=Manage your internet connections using ConnMan and EFL. Version with agent to get passwords and other input.
Comment[es]=Administre sus conexiones a internet usando ConnMan y EFL. Versión con agente para obtener contraseñas y otras entradas.
Comment[gl]=Xestione as súas conexións a internet empregando ConnMan e EFL. Versión con axente para obter contrasinais e outras entradas.
Comment[it]=Gestisce le connessioni internet usando ConnMan e le EFL. Versione con agente per password e altri input.
Comment[pt]=Gestão das ligações internet com o ConnMan e o EFL. Versão com agente para obter senhas e outros dados
Categories=Network;Settings;Enlightenment;
Exec=econnman-bin --agent
StartupNotify=true
Terminal=false
