[Desktop Entry]
Encoding=UTF-8
Name=Ecrire
Comment=Simple text editor
Comment[es]=Un simple editor de texto
Comment[gl]=Un simple editor de texto
Comment[it]=Semplice editor di testo
Comment[pt]=Editor de texto
Comment[ru]=Простой текстовый редактор
Exec=ecrire %f
Icon=ecrire
Terminal=false
Type=Application
MimeType=text/plain
Categories=Utility;TextEditor;
StartupNotify=true
