ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/Makefile
doc/Makefile.in
doc/elocation.dox
doc/html/
doc/latex/
doc/man/
elocation.pc
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/bin/.deps/
src/bin/.libs/
src/bin/Makefile
src/bin/Makefile.in
src/bin/elocation-test
src/bin/elocation_test-elocation-test.o
src/lib/.deps/
src/lib/.libs/
src/lib/Makefile
src/lib/Makefile.in
src/lib/elocation.lo
src/lib/elocation.o
src/lib/libelocation.la
stamp-h1
