[Desktop Entry]
Encoding=UTF-8
Name=Phone_Book_Sample
Name[pt]=Exemplo de lista telefónica
Comment=Simple Phone Book designed using Editje and C Language Programing
Comment[es]=Una agenda telefónica diseñada usando Editje y programación en C
Comment[fr]=Agenda téléphonique simple conçu avec Editje et le language C
Comment[gl]=Unha axenda telefónica feita con Editje e a linguaxe de programación C
Comment[it]=Un'agenda telefonica progettata con Editje e la programmazione in C
Comment[pt]=Uma agenda telefónica desenvolvida com o Editje e programação C
Exec=Phone_Book_Sample
Icon=Phone_Book_Sample
Terminal=false
Type=Application
Categories=Application;Utility;
