[Desktop Entry]
Type=Application
Name=Editje
Comment=Editje Edje Editor
Comment[es]=Editor de archivos Edje
Comment[fr]=Éditeur de fichiers edje
Comment[gl]=Editor de ficheiros Edje
Comment[it]=Editor per i file di Edje
Comment[pt]=Editor de ficheiros Edje
Icon=editje
Exec=editje-bin %F
Terminal=false
Categories=Development;
MimeType=text/edje;application/edje;
