[Desktop Entry]
Name=Ephoto
Comment=Enlightened Photo Viewer
Comment[es]=Visualizador de fotos de Enlightenment
Comment[fr]=Visionneuse photo pour Enlightenment
Comment[gl]=Visualizador de fotos de Enlightenment
Comment[it]=Visualizzatore di foto per Enlightenment
Comment[pt]=Visualizador de fotos do Enlightenment
Exec=ephoto
Icon=ephoto
Terminal=false
Type=Application
Categories=Graphics;Viewer;
